<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Qaydalar</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
      <p><strong>Qayda</strong></p>
      <p>
        Hərfin narıncı olması onun axtarılan sözün fərqli sırasında işləndiyini göstərir.
        Mavi hərflər axtarılan sözdə mövcuddur və düzgün sırada işlənmişdir. 
        Boz hərflər axtarılan sözdə mövcud deyil.
      </p>
    <strong>Moderasiya</strong>
    <p>
      Şəkilçisiz  və ya  leksik şəkilçi ilə əmələ gələn 
      sözlər qəbul olunur ( xüsusi isimlər və qrammatik
      şəkilçi ilə bitən sözlər qəbul olunmur)
      Sözlərin aktuallığı istifadəçilərin geri dönüşlərinə əsasən təyin olunur. 
      (Community driven database)
    </p> 
    <p><strong>Dəstək</strong></p> <p>

      Hər hansı təklif və problemlə bağlı: <a href="https://t.me/azeri_words_bot">@azeri_words_bot</a>
      Müraciətləriniz tez bir zamanda nəzərə alınacaq  🙌
    </p>

    </body>
    </html>
      